<nav class="pagination" role="pagination">
     <span class="page-number">Page {{page}} of {{pages}}</span>
    
    <nav class="page-nav cf">
    
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; Newer Posts</a>
    {{/if}}
   
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">Older Posts &rarr;</a>
    {{/if}}
    
    </nav>
</nav>