{{!< default}}

<main class="site-content" role="main">

	<article class="{{post_class}}">

		{{#post}}
		
			{{! Add Open Graph tags to head}}
			{{#contentFor "meta"}}
				<meta property="og:description" content="{{excerpt characters="220"}}...">
			{{/contentFor}}

			<h1 class="post-title">{{{title}}}</h1>

			<section class="post-content">
				{{content}}
			</section>

		{{/post}}

	</article>

</main>
