// Color Settings
$background-color: #ECEEF0;
$text-color: #444444;
$secondary-text-color: #82969C;
$accent-color: #009BCD;
$secondary-accent-color: #007EA6;
$highlight-color: RGBA(147, 187, 201, 0.5);

// Font Family
$font-family: "Oxygen", "Helvetica Neue", "Arial", sans-serif;