// Color Settings

$background-color: #E3E5E7;
$text-color: #444444;
$secondary-text-color: #808080;
$accent-color: #009BCD;
$secondary-accent-color: #007EA6;
$highlight-color: rgba(0,155,205,0.25);

// Font Family
$font-family: "Oxygen", "Helvetica Neue", "Arial", sans-serif;