/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*
   0.	Includes
   1.	Icons
   2.	Base Styles
   3.	Utilities
   4.	Header
   5.	Footer
   6.	General
   7.	Single Post
   8.	Navigation
   9.	Pagination
   10.	Media Queries
 */

/* ==========================================================================
   0. Includes - Ground zero
   ========================================================================== */

@import 'variables.css'; /* Import custom-defined styles */

/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

@import 'partials/1 Icons.css';


/* ==========================================================================
   2. Base Styles - Setting up some base styles
   ========================================================================== */

@import 'partials/2 Base Styles.css';


/* ==========================================================================
   3. Utilities - These things get used a lot
   ========================================================================== */

@import 'partials/3 Utilities.css';

/* ==========================================================================
   4. Header - The top of every page
   ========================================================================== */

   @import 'partials/4 Header.css';

/* ==========================================================================
   5. Footer - The bottom of every page
   ========================================================================== */

   @import 'partials/5 Footer.css';

/* ==========================================================================
   6. General
   ========================================================================== */

.site-main {
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

.site-content {
	margin: 0 auto;
	
	header {
		text-align: center;
	}
}

.post {
	position: relative;
	margin: 5% auto 10%;
	word-break: break-word;
	
	/* Prevent extra space at the bottom of the page. */
	&:last-of-type {
		margin-bottom: 0;
	}
	
	/* Prevent extra space at the top of the page. */
	&:first-of-type {
		margin-top: 0;
	}

	
	/* Keep large images within the bounds of the post-width. */
	img {
		display: block;
		max-width: 100%;
		margin: 0 auto;
	}
}

/* Full-width featured images. */
.post {
	width: 100%;
	
	.post-excerpt,
	.post-content {
		width: 92.5%;
		margin: 0 auto;
	}
	
	.post-footer {
		width: 92.5%;
		
		@media only screen and (min-width: 35em) {
			width: 85%;
		}
	}
}

.post-header {
	text-align: center;
	margin: 0 auto 2.5%;
}

.post-image {
	padding-bottom: 1em;
}

.post-title {
	font-size: 1.65em;
	font-weight: normal;
	margin: 0;
}

.post-title a {
	text-decoration: none;
}

/* Make sure nothing jumps outside the post. */
.post-content *,
.post-excerpt * {
	max-width: 100%;
}

/* Excerpt Styles */
.post-excerpt p {
	line-height: 1.6em;
	hyphens: auto;
	margin: 1.6rem 0 0 0;
}

.post-excerpt .excerpt-suffix {
	color: var(--text-color);

	&:hover {
		 color: var(--accent-color);
	}
	
	&:active {
		 color: var(--secondary-accent-color);
	}
}

/* Post Styles */
.post-content {
	display: flex;
	flex-direction: column;
}

.post-content p {
	hyphens: auto;
}

.post-content h1 {
	font-size: 2em;
}

.post-content h2 {
	font-size: 1.75em;
}

.post-content h3 {
	font-size: 1.5em;
}

.post-content h4 {
	font-size: 1.375em;
}

.post-content h5 {
	font-size: 1.25em;
}

.post-content h6 {
	font-size: 1.125em;
}

.post-content img {
	max-width: 100%;
	margin: 2.5% auto;
}

.post-content blockquote {
	padding: 0.5em 0.25em 0.5em 0.75em;
	background: #DBDEE1;
}

.post-content blockquote > p::before {
	content: open-quote;
	font-size: 3.5em;
	font-style: italic;
	line-height: 0;
	vertical-align: -0.4em;
	margin-right: 0.25em;
}

figure.kg-embed-card {
	margin: 0.5rem auto;
	
	iframe {
		margin-left: auto;
		margin-right: auto;
	}
}

figure.kg-image-card,
figure.kg-gallery-card {
	margin: 0.25rem 0;
	text-align: left;

	img {
		display: block;
	}
	
	&.kg-width-wide {
		max-width: none;

		img.kg-image {
			/* 
			 * max-width: 107.5%;
			 * margin-left: -3.75%; 
			 * Rounding up from these values ensures that 
			 * the image fully spans content div on narrow viewports.
			*/
			margin-left: -4.1%;
			max-width: 108.2%;
		}
	}
	
	&.kg-width-full,
	&.kg-gallery-card {
		align-self: center;
		max-width: none;

		img.kg-image {
			width: 100vw;
			max-width: 100vw;
		}
	}
	
	figcaption {
		color: var(--secondary-text-color);
		text-align: center;
		font-size: 0.85em;
		font-style: italic;
		padding: 0 0 0.5rem;
		margin: 0 auto;
	}
}

.kg-gallery-container {
	display: flex;
	flex-direction: column;
	margin: 0.5rem auto;
	max-width: 65rem;
	width: 100vw;
}

.kg-gallery-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.kg-gallery-image img {
	display: block;
	margin: 0;
	width: 100%;
	height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
	margin: 0.25rem 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
	margin: 0 0 0 0.25rem;
}

.post-meta {
	display: inline-block;
	font-size: 0.8em;
	color: var(--secondary-text-color);
	text-decoration: none;
	padding: 0 2.5% 1%;
	border-bottom: 1px solid var(--accent-color);
	margin: 1.5% auto;
}

.post-meta a {
	color: #9EABB3;
	
}

.post-footer {
	padding-bottom: 1.5%;
	border-bottom: 1px solid var(--accent-color);
}

.post-tags {
	color: var(--secondary-text-color);
	font-size: 0.9em;
}

/* ==========================================================================
   7. Single Post - When you click on an individual post
   ========================================================================== */

/* Tweak the .post wrapper style */
.post-template .post {
	margin-top: 0;
	border-bottom: none;
	padding-bottom: 0;
}

/* Kill that stylish little circle that was on the border, too */
.post-template .post:after {
	display: none;
}

/* The author credit area after the post */
.post-footer {
	position: relative;
	margin: 5% auto 0;
}

.post-footer h4 {
	font-size: 1.8rem;
	margin: 0;
}

.post-footer p {
	margin: 1rem 0;
	font-size: 1.4rem;
	line-height: 1.6em;
}

/* Create some space to the right for the share links */
.author-card {
	transition: box-shadow 0.3s ease;
	text-align: left;
	padding: 3.5%;
	margin: 0 auto 15%;
	box-shadow: 0 1px 4px rgba(0,0,0,0.3);

	&:hover {
		box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
	}

	.author-image {
		float: left;
		width: 25%;
		max-width: 125px;
		margin: 0;
		
		img {
			transition: box-shadow 0.3s ease;
			display: block;
			width: 100%;
			max-width: 125px;
			margin: 0;
			border-radius: 50%;
			box-shadow: 0 0 5px rgba(0,0,0,0);
			
			&:hover {
				box-shadow: 0 2px 5px rgba(0,0,0,.5);
			}
		}
	}
	
	.author-meta {
		float: left;
		margin-left: 5%;
		width: 70%;
	}
	
	.author-name {
		color: var(--text-color);
		font-size: 1.6em;
		font-weight: normal;
	}
	
	.author-website {
		margin-left: 1.5%;
	}
	
	.author-bio {
		font-size: 0.9em;
		margin: 1% auto;
	}
}

.site-header {
	.author-card {
		display: inline-block;
		min-width: 50%;
		text-align: center;
		padding: 2.5% 3.5%;
		margin: 3.5% auto 1.5%;
	}
	
	.author-meta {
		float: none;
		margin: 0 auto;
	}
}

/* ==========================================================================
   8. Navigation
   ========================================================================== */

.nav {
	width: 100%;	
	font-size: 1.1em;
	text-align: center;
	clear: both;
	list-style: none;
	padding-left: 0;
	margin: 1.5% auto 0;
	
	li {
		display: inline;
		margin: 0 0.25em;
	}
	
	a {
		color: var(--text-color);
		
		&:hover {
			color: var(--accent-color);
		}
		
		&:active,
		&:focus {
			color: var(--secondary-accent-color);
		}
	}
	
	.nav-current a {
		color: var(--accent-color);
		
		&:hover {
			animation: shake 0.3s ease 0.25s;
		}
	}
}

@keyframes shake {
	0%, 54%, 90% {
		transform: translateX(-0.6em);
	}
	18%, 72% {
		transform: translateX(0.6em);
	}
	100% {
		transform: translateX(0);
	}
}

.post-navigation {
	width: 92.5%;
	margin: 2.5% auto;
	
	a {
		transition: padding 0.3s ease, color 0.3s ease;
		display: block;
		overflow: hidden;
		padding: 0;
		margin: 2.5% 0;
		
		&:hover {
			padding: 0 2.5%;
		}
	}
}

.nav-next,
.nav-previous {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.nav-previous {
	float: left;
	text-align: left;
	width: 50%;

	a::before {
		content: '\2190';
		/* Left arrow */
		padding-right: 0.5%;
	}
}

.nav-next {
	float: right;
	text-align: right;
	width: 50%;

	a::after {
		content: '\2192';
		/* Right arrow */
		padding-left: 0.5%;
	}
}


/* ==========================================================================
   9. Pagination
   ========================================================================== */

/* The main wrapper for our pagination links */
.pagination {
	position: relative;
	margin: 7.5% 5% 10%;
	font-size: 1.3rem;
	color: var(--secondary-text-color);
	text-align: center;
}

.pagination a {
	color: var(--secondary-text-color);
}

	.pagination a:hover {
		color: var(--accent-color);
	}
	
	.pagination a:active {
		color: var(--secondary-accent-color);
	}

/* Push the previous/next links out to the left/right */
.older-posts,
.newer-posts {
	display: block;
	text-decoration: none;
	transition: padding ease 0.3s;
	padding: 0;
}

	.older-posts:hover,
	.newer-posts:hover {
		padding: 0 2.5%;
	}

.older-posts {
	padding-right: 0;
	float: right;
}

.page-number {
	display: block;
	clear: both;
}

.newer-posts {
	padding-left: 0;
	float: left;
}

/* ==========================================================================
   10. Media Queries. The secret sauce that makes Decode awesome
   ========================================================================== */

/* Tablets
--------------------------------------- */
@media only screen and (min-width: 35em) {
	.site-content {
		width: 82.5%;
	}

	.post {
		width: 100%;
	}

	.post-footer,
	.tag-archive-header,
	.post-navigation {
		width: 85%;
	}

	.author-card {
		margin-bottom: 5%;
	}

	.pagination {
		margin: 7.5% 5%;
	}
}

/* Desktops
--------------------------------------- */
@media only screen and (min-width: 50em) {
	.site-content {
		width: 80%;
	}

	.post-title {
		font-size: 2em;
	}

	.post-content h1 {
		font-size: 2.5em;
	}

	.post-content h2 {
		font-size: 2.125em;
	}

	.post-content h3 {
		font-size: 1.75em;
	}

	.post-content h4 {
		font-size: 1.375em;
	}

	.post-content h5 {
		font-size: 1.25em;
	}

	.post-content h6 {
		font-size: 1.125em;
	}
}

/* Even Larger Screens
--------------------------------------- */
@media only screen and (min-width: 68.5em) {
.site-content {
	width: 60%;
	max-width: 60rem;
}
}

/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point.
   ========================================================================== */